<!DOCTYPE html>
<html>
<head>
   <title>Homepage</title>
    <style>
       .btn {
        display: inline-block; /* Строчно-блочный элемент */
        background: #8C959D; /* Серый цвет фона */
        color: #fff; /* Белый цвет текста */
        padding: 1rem 1.5rem; /* Поля вокруг текста */
        text-decoration: none; /* Убираем подчёркивание */
        border-radius: 3px; /* Скругляем уголки */
       }
    </style>
</head>
<body>
<a href="/mine_block" class="btn">Mine block</a>
<a href="/get_chain" class="btn">Get chain</a>
<a href="/valid" class="btn">Valid</a>

 </body>
</body>
</html>
